<toaster-container></toaster-container>
<header class="app-header navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar w/ text</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
  </nav>
</header>

<div class="app-body">
  <h1>Hello Anuglar5 World</h1>
</div>

<footer class="app-footer">
  <a href="https://github.com/gp187/angular5-starter">Angular5-Starter</a> &copy; 2017 Angular5-Starter.
  <span class="float-right">
    Powered by <a href="https://github.com/gp187/angular5-starter">Angular5-Starter</a>
  </span>
</footer>
